@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Cars Catalog Website</h1>
    <p>Help us to give you right recommendations by filling this <a asp-controller="Main" asp-action="UserDataForm">Form</a></p>
</div>