@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Cars Catalog Website</h1>
    <div class="cars-wrap">
    <div class="img-usa"></div>
    <div class="img-italy"></div>
    <div class="img-france"></div>
    </div>
    <p>Help us to give you right recommendations by filling this <a asp-controller="Main" asp-action="UserDataForm" class="form-link">Form</a></p>
</div>