html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.img-usa {
  width: 350px;
  height: 300px;
  background-image: url(../images/CarUsa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -150px;
}
.img-italy {
  width: 350px;
  height: 300px;
  background-image: url(../images/ItalyCar.webp);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: -75px;
}
.img-france {
  width: 350px;
  height: 300px;
  background-image: url(../images/FranceCar.webp);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: -75px;
}

.cars-wrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid #bfb0b0;
  padding: 10px;
}

.form-link {
  font-size: 20px;
}

div[class^="img-"]:hover {
  cursor: pointer;
}

.success {
  display: flex;
  justify-content: space-between;
  text-wrap: wrap;
}